@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-VariableFont_wght.ttf") format("truetype-variations");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}
body {
    background: radial-gradient(circle at 30% 40%, #b8a2cc 0%, #9a83b5 70%, #7d6899 100%);
}
.main-header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
hr.glass {
    margin-bottom: 30px;
    border: none;
    height: 2px;
    background: linear-gradient(90deg,
            transparent 0%,
            rgba(0, 0, 0, 0.5) 15%,
            rgba(0, 0, 0, 0.7) 50%,
            rgba(0, 0, 0, 0.5) 85%,
            transparent 100%);
}
.main-header h1 {
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 40px;
    letter-spacing: 2px;
}
.back-arrow-container{
    transition: all ease 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 30px;
    width: 60px;
    height: 60px;
    border-radius: 20px;
}
.back-arrow{
    margin-left: 8px;
    width: 15px;
    height: 15px;
    border-left: 3px solid rgba(0, 0, 0, 0.5);
    border-bottom: 3px solid rgba(0, 0, 0, 0.5);
    transform: rotate(45deg);
}
.back-arrow-container:hover{
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
    background: rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(5px);
    cursor: pointer;
}
.main{
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-right: 29px;
    padding-left: 30px;
    width: 100%;
    gap: 30px;
}
.greeting{
    transition: all ease 0.5s;
    box-sizing: border-box;
    font-size: 20px;
    font-family:'Segoe UI';
    padding-bottom: 20px;
    padding-top: 20px;
    width: 100%;
    height: 450px;
    border-radius: 35px;
    letter-spacing: 0.5px;
    display: flex;           
    flex-direction: row;     
    gap: 15px;              
}
.greeting-text-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    border-radius: 70px 35px 35px 70px;
    box-shadow: 
    0 0 20px rgba(240, 230, 245, 0.5),
    0 0 40px rgba(235, 220, 240, 0.4),
    0 0 75px rgba(200, 180, 220, 0.3),
    0 0 105px rgba(150, 125, 180, 0.12);
    padding: 20px;
    background: #aa92c4;
}
.greeting-avatar{
    background: #aa92c4;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    min-width: 350px;        
    height: 200px;
    flex-shrink: 0;         
    box-shadow: 
    0 0 20px rgba(240, 230, 245, 0.5),
    0 0 40px rgba(235, 220, 240, 0.4),
    0 0 75px rgba(200, 180, 220, 0.3),
    0 0 105px rgba(150, 125, 180, 0.12);
    border-radius: 35px 70px 70px 35px;
}
.greeting-strong{
    font-size: 40px;
    letter-spacing: 0.5px;
    font-weight: 300;
    display: flex;
    justify-content: flex-start;
    height: 50px;
    margin-bottom: 25px;
    padding-left: 15px;
}

.greeting-after-strong{
    font-size: 22px;
}
.greeting-after-strong p{
    display: flex;
    justify-content: center;
    border-bottom: 2px solid rgb(125, 104, 153);
    border-left: 2px solid rgb(125, 104, 153);
    position: relative;
    border-radius: 25px;
    margin: 8px 8px 11px 0; 
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
    text-align: justify; 
    font-size: 22px;
}
.dotted {
    text-decoration: underline;
    text-decoration-style:inherit;
}
.avatar{
    margin-left: 30px;
    height: 150px;
    width: 150px;

}
.avatar img{
    border-radius: 50%;
    filter:brightness(0.9);
    object-fit: cover;
    object-position: 4px -35px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: all ease 0.3s;
}
.avatar-text{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 15px;
    font-family: "Montserrat";
    font-size: 20px;
    font-weight: 500;
    flex: 1;
    height: 190px;
    color: #2d2d2d;
    padding-right: 15px;
}
.avatar-text small{
    font-size: 15px;
}
.avatar img:hover{
    transform: scale(1.05);
}
.greeting-avatar-two{
    background: #aa92c4;
    flex: 1;
    height: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 
    0 0 20px rgba(240, 230, 245, 0.5),
    0 0 40px rgba(235, 220, 240, 0.4),
    0 0 75px rgba(200, 180, 220, 0.3),
    0 0 105px rgba(150, 125, 180, 0.12);
    border-radius: 35px 70px 70px 35px;
}
.avatar-psu img{
    margin-left: 40px;
}
.avatar-two-text{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 40px;
    font-family: "Montserrat";
    font-size: 25px;
    font-weight: 700;
    flex: 1;
    height: 190px;
    letter-spacing: 2px;
    color: #2d2d2d;
}
.stack{
    display: flex;
    flex-direction: column;
    flex: 1;
}
.stack-h1{
    margin-top: 40px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    flex: 1;
    font-family: "Montserrat";
    font-size: 40px;
}
.stack-module{
    display: flex;
    justify-content: row;
    gap: 30px;
    width: 100%;
}
.stack-icons{
    background: #aa92c4;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
    padding-top: 50px;
    width: 500px;
    height: 380px;
    box-shadow: 
    0 0 20px rgba(240, 230, 245, 0.5),
    0 0 40px rgba(235, 220, 240, 0.4),
    0 0 75px rgba(200, 180, 220, 0.3),
    0 0 105px rgba(150, 125, 180, 0.12);
    border-radius: 35px;
    gap: 40px;
}
.stack-text{
    background: #aa92c4;
    box-sizing: border-box;
    flex: 1;
    height: 380px;
    box-shadow: 
    0 0 20px rgba(240, 230, 245, 0.5),
    0 0 40px rgba(235, 220, 240, 0.4),
    0 0 75px rgba(200, 180, 220, 0.3),
    0 0 105px rgba(150, 125, 180, 0.12);
    border-radius: 35px;
    padding: 20px;
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.icons-one{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.icons-two{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
#git-image{
    margin-right: 25px;
}
.stack-text-title{
    display: flex;
    width: 100%;
    height: 30px;
    font-size: 24px;
    font-weight: 500;
    font-family: "Montserrat";
}
.stack-text-content{
    display: flex;
    width: 100%;
    height: 125px;
}
.stack-text-content ul{
    padding-left: 21px;
    margin-top: 10px;
    font-size: 19px;
    font-family:'Segoe UI';
}
.stack-text-title-two{
    margin-top: 15px;
    display: flex;
    width: 100%;
    height: 30px;
    font-size: 24px;
    font-weight: 500;
    font-family: "Montserrat";
}
.stack-text-content-two{
    display: flex;
    flex: 1;
}
.stack-text-content-two ul{
    padding-left: 21px;
    margin-top: 10px;
    font-size: 19px;
    font-family:'Segoe UI';
}
.stack-text strong{
    font-size: 18px;
}
.codewars-card{
    background: #aa92c4;
    box-shadow: 
    0 0 20px rgba(240, 230, 245, 0.5),
    0 0 40px rgba(235, 220, 240, 0.4),
    0 0 75px rgba(200, 180, 220, 0.3),
    0 0 105px rgba(150, 125, 180, 0.12);
    border-radius: 35px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 200px;
    margin-top: 30px;
    gap: 30px;
}
.codewars-avatar{
    transform: scale(0.8);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    margin-left: 40px;
    overflow: hidden;
}
.codewars-avatar img{
    transform: scale(1.4);
}
.codewars-title{
    font-family: "Montserrat";
    font-size: 40px;
    font-weight: 400;
}
.codewars-info{
    margin-top: 15px;
    margin-right: 80px;
    display: flex;
    justify-content: flex-end;
    gap: 97px;
    font-family: "Montserrat";
    font-size: 45px;
    flex: 1;
    line-height: 1;
}
.span-info-min{
    margin-left: 3px;
    font-size: 15px;
    display: inline-block;
    line-height: 1.2;
}
.codewars-info a{
    color: black;
    text-decoration: none;
    transition: all ease 0.3s;
    display: inline-block;
    
}
.codewars-info a:hover{
    text-decoration-thickness: 1.5px;
    transform: scale(1.03);
}
.efset-card{
    background: #aa92c4;
    box-shadow: 
    0 0 20px rgba(240, 230, 245, 0.5),
    0 0 40px rgba(235, 220, 240, 0.4),
    0 0 75px rgba(200, 180, 220, 0.3),
    0 0 105px rgba(150, 125, 180, 0.12);
    border-radius: 35px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 200px;
    margin-top: 30px;
    gap: 20px;
}
.efset-avatar{
    border-radius: 30px;
    overflow: hidden;
    margin-left: 20px;
}
.efset-title{
    font-family: "Montserrat";
    font-size: 65px;
    font-weight: 300;
}
.efset-info{
    margin-right: 80px;
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
    gap: 60px;
    font-family: "Montserrat";
    font-size: 45px;
    flex: 1;
    line-height: 1;
}
.efset-info a{
    color: black;
    text-decoration: none;
    transition: all ease 0.3s;
    display: inline-block;
    
}
.efset-info a:hover{
    text-decoration-thickness: 1.5px;
    transform: scale(1.03);
}
.plans{
    display: flex;
    flex-direction: column;
    
    width: 100%;
    flex-shrink: 0;
}
.plans-h1{
    margin-top: 60px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    flex: 1;
    font-family: "Montserrat";
    font-size: 40px;
}
.plans-module{
    width: 100%;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
.plan-text-first{
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI';
    font-size: 25px;
    width: 630px;           
    text-align: right;      
    padding-right: 30px;    
}
.plan-text-second{
    display: flex;
    flex-direction: column;
    padding-top: 148px;
    font-family: 'Segoe UI';
    font-size: 25px;
    width: 630px;           
    text-align: left;       
    padding-left: 30px;    
}
.plan-text-first span,
.plan-text-second span {
    display: flex;
    align-items: flex-start;
    height: 300px; 
}

.plan-text-first span {
    justify-content: flex-end;
}

.plan-text-second span {
    justify-content: flex-start;
}
.plan-icons{
    display: flex;
    flex-direction: column;
}
#circle{
    display: flex;
    color: #343333;
    font-size: 40px;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}
#line{
    transform: scale(2.3);
    display: flex;
    color: #343333;
    font-size: 30px;
    width: 40px;
    height: 100px;
    justify-content: center;
    align-items: center;
}